<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @scheme.name %>
</p>

<p>
  <b>Description:</b>
  <%= @scheme.description %>
</p>


<%= link_to 'Edit', edit_scheme_path(@scheme) %> |
<%= link_to 'Back', schemes_path %>
