<%= form_for(@critical_question) do |f| %>
  <% if @critical_question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@critical_question.errors.count, "error") %> prohibited this critical_question from being saved:</h2>

      <ul>
      <% @critical_question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :scheme_id %><br />
    <%= f.number_field :scheme_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
