<h1>Listing critical_questions</h1>

<table>
  <tr>
    <th>Scheme</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @critical_questions.each do |critical_question| %>
  <tr>
    <td><%= critical_question.scheme_id %></td>
    <td><%= critical_question.description %></td>
    <td><%= link_to 'Show', critical_question %></td>
    <td><%= link_to 'Edit', edit_critical_question_path(critical_question) %></td>
    <td><%= link_to 'Destroy', critical_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Critical question', new_critical_question_path %>
